body{
    font-family: 'Roboto', sans-serif;
    background-color: skyblue;
}
#home{
    text-align: center;
}
#home h1{
    font-size: 100px;
}
.navigation {
  display: flex;
  width: 100%;
  padding: 10px 0;
  margin: 0;
}
.nav-button {
  flex-grow: 1;
  padding: 15px 20px;
  background-color: #616468;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  margin: 0 5px;
  border-radius: 10px;
  opacity: 80%;
}
.nav-button:hover {
  background-color: #0056b3;
  border-radius: 50px;
  opacity: 100;
}

#info h1{
  text-align: center;
  font-size: 70px;
}

.list{
    font-size: 20px;
    max-width: 600px;
    margin: auto;
}
